<h1>This is Movie</h1>

<button type="button" class="btn btn-info" (click)="showUsers">SHOW </button>


<div class="container">
    <table class="table table-hover" *ngIf="userBooli">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Catgury</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of arItems">
                <td>{{item.Id}}</td>
                <td>{{item.Name}}</td>
                <td>{{item.Catgury}}</td>
                <td><i class="glyphicon glyphicon-remove" (click)="clickHandler(item,remove)" data-toggle="modal" data-target="#exampleModalLong"></i>
                    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">? בטוח שאתה רוצה למחוק את המשתמש </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>        </button>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="buttonTrue()">remove Movie</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <router-outlet></router-outlet>